{# Resources/views/email/footer.html.twig #}
{% set _domain = constant("WBW\\Bundle\\CoreBundle\\Translation\\TranslationInterface::TRANSLATION_DOMAIN") %}
<table class="footer center" width="602" border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td class="border" colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td class="signature" width="300">
                <p>
                    {{ emailLayout.bestRegards | default("email.with_best_regards" | trans([], _domain)) }},<br/>
                    {{ emailLayout.companyName | default("WEBEWEB") }}<br/>
                    {{ emailLayout.supportPhone | default("") }}, {{ emailLayout.supportName | default("email.support" | trans([], _domain)) }}<br/>
                </p>
                <p>
                    {{ "email.support" | trans([], _domain) }}: <a class="strong" href="{{ emailLayout.supportEmail | default("https://github.com/webeweb/core-bundle/issues") }}" target="_blank">
                        {{ emailLayout.supportName | default("https://github.com/webeweb") }}
                    </a>
                </p>
            </td>
            <td class="subscription" width="300">
                <div class="logo-image">
                    <a href="{{ emailLayout.companyURL | default("https://github.com/webeweb") }}" target="_blank">
                        <img src="{{ emailLayout.companyLogo | default("https://raw.githubusercontent.com/webeweb/bootstrap-bundle/master/Resources/doc/screenshot_readme.png") }}" alt="logo-alt" height="70">
                    </a>
                </div>
                <p>
                    <a class="strong block" href="{{ emailLayout.unsubscribeURL | default("#") }}" target="_blank">
                        {{ "email.unsubscribe" | trans([], _domain) }}
                    </a>
                    <span class="hide">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                    <a class="strong block" href="{{ emailLayout.accountSettingsURL | default("#") }}" target="_blank">
                        {{ "email.account_settings" | trans([], _domain) }}
                    </a>
                </p>
            </td>
        </tr>
    </tbody>
</table>
