{# Resources/views/email/footer.html.twig #}
<table class="footer center" width="602" border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td class="border" colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td class="signature" width="300">
                <p>
                    {{ emailLayout.bestRegards|default("label.with_best_regards"|trans({}, "WBWCoreBundle")) }},<br/>
                    {{ emailLayout.companyName|default("WEBEWEB") }}<br/>
                    {{ emailLayout.supportPhone|default("+33 6 xx xx xx xx") }}, {{ emailLayout.supportName|default("label.support"|trans({}, "WBWCoreBundle")) }}<br/>
                </p>
                <p>
                    {{ "label.support"|trans({}, "WBWCoreBundle") }}: <a class="strong" href="{{ emailLayout.supportEmail|default("https://github.com/webeweb/") }}" target="_blank">
                        {{ emailLayout.supportName|default("https://github.com/webeweb/") }}
                    </a>
                </p>
            </td>
            <td class="subscription" width="300">
                <div class="logo-image">
                    <a href="{{ emailLayout.companyURL|default("https://github.com/webeweb/") }}" target="_blank">
                        <img src="{{ emailLayout.companyLogo|default("https://github.com/webeweb/bootstrap-bundle/blob/master/Resources/public/favicons/favicon-96x96.png?raw=true") }}" alt="logo-alt" height="70">
                    </a>
                </div>
                <p>
                    <a class="strong block" href="{{ emailLayout.unsubscribeURL|default("#") }}" target="_blank">
                        {{ "label.unsubscribe"|trans({}, "WBWCoreBundle") }}
                    </a>
                    <span class="hide">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                    <a class="strong block" href="{{ emailLayout.accountSettingsURL|default("#") }}" target="_blank">
                        {{ "label.account_settings"|trans({}, "WBWCoreBundle") }}
                    </a>
                </p>
            </td>
        </tr>
    </tbody>
</table>
